
.header{
  height: 64px;
  padding: 7px 0;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  left: 0;
  z-index: 15;

  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: #000000;


  color: #F8F8F8;
  display: flex;

}
.main-banner{
  padding-top: 64px;
}

@media screen and (min-width: 1169px){
  .header{
    height: 84px;
  }
  .main-banner{
    padding-top: 84px;
  }
}

.header .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-btn,
.close-btn {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
.menu-btn span,
.close-btn span ,
.menu-btn span:before,
.close-btn span:before,
.menu-btn span:after,
.close-btn span:after {
  display: block;
  width: 20px;
  height: 2px;
  background: #969696;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  transition: all 0.4s linear;
}

.menu-btn span:before,
.close-btn span:before ,
.menu-btn span:after ,
.close-btn span:after{
  content: '';
}
.menu-btn span:before,
.close-btn span:before{
  transform: translateY(-5px);
}
.menu-btn span:after,
.close-btn span:after{
  transform: translateY(5px);
}


.navigation {
  flex-grow: 1;
  order: -1;
}

.header-info{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 30px;
}
.header-info a{
  display: none;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  gap: 6px;
  align-items: center;
}



.main-nav {
  display: none;
  justify-content: flex-end;
}

.main-nav a {
  color: #F8F8F8;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;
  position: relative;
  line-height: 1.5;
  white-space: nowrap;
}
.main-nav :last-child {
  margin-right: 0px;
}

@media screen and (max-width: 878px){

  .main-nav{
    display: block;
  }
  .main-nav a:nth-child(3){
    display: none;
  }

  .main-nav a:nth-child(7){
    display: none;
  }

  .header .container{
    justify-content: space-between;
    padding-left: 4%;
    width: 100%;
  }
}

@media screen and (max-width: 702px){
  .main-nav a:nth-child(5),
  .main-nav a:nth-child(6){
    display: none;
  }
}

@media screen and (max-width: 540px){
  .main-nav a:nth-child(4){
    display: none;
  }
}
@media screen and (max-width: 400px){
  .main-nav a:nth-child(2){
    display: none;
  }
}

.main-nav a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  border-bottom: 5px solid #E8322E;
  transform: translateY(33px);
  opacity: 0;
}
.main-nav.menu-active  a::before{
  border-bottom: 5px solid #fff;
}
.main-nav a:hover::before{
  opacity: 1;
}
@media screen and (max-width: 1169px){
  .main-nav a::before{
    transform: translateY(20px);
  }
}

@media screen and (min-width: 501px){
  .header-info a:last-child{
    display: flex;

  }

}

@media screen and (min-width: 739px){
  .header-info a:first-child{
    display: flex;
  }
}

@media screen and (min-width: 879px){
  .main-nav {
    display: flex;
    transform: translateY(-2px);
    justify-content: space-between;
  }

  .menu-btn{
    display: none;
  }
  .header-info{
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  .header .container{
    width: 100%;
  }
}
@media screen and (min-width: 1169px){
  .main-nav a{
    font-size: 18px;
    margin-right: 25px;
  }


  .main-nav a::before{
    transform: translateY(26px);
  }

}

.menu-active{
  a{
    display: block !important;
  }
}

.header-fixed{
  box-shadow: 0 0 8px 1px #ccc;
}
.header-fixed .header-info{
  display: none;
}


//@media screen and (max-width: 1024px)
@media screen and (min-width: 879px){
  .header-fixed{
    min-height: 84px;
    padding-top: 13px;
  }
  .header-fixed .logo{
    transform: none;
  }
  .header-fixed .main-nav a::before{
    transform: translateY(30px);
  }
}
@media screen and (min-width: 1169px){
  .header-fixed .main-nav a::before{
    transform: translateY(27px);
  }
}


@media screen and (max-width: 878px){
  .main-nav.menu-active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background: #E8322E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
  }
  .menu-btn.menu-active span:after {
    content: "";
    width: 20px;
    transform: rotate(90deg);
    transform-origin: center;
    background: #fff;
  }
  .menu-btn.menu-active span::before{
    display: none;
  }
  .menu-btn.menu-active span {
    width: 20px;
    transform: rotate(45deg);
    transform-origin: center;
    background: #fff;
  }
  .main-nav.menu-active a{
    color: #fff;
    margin-bottom: 21px;
    font-size: 20px;
    margin-right: 0;
  }
  .main-nav.menu-active a::before{
    transform: translateY(10px);
  }


}
