/*6 Бонусы*/
.bonuses{
  background: #191919;
padding-top: 40px;
padding-bottom: 157px;
  .title{
    margin-bottom: 40px;
  }
}

.bonuses-grid{
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 30px;
}
.bonuses-item{
  background: linear-gradient(342.47deg, rgba(255, 130, 20, 0.3) 24%, rgba(232, 50, 46, 0.3) 76%);
  position: relative;
  height: 360px;
  max-width: 31.5%;
  font-size: 18px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  p, div{
    position: relative;

  }
  &::after{
    content: "%";
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 26px;
    font-family: sans-serif;
  }
}
.bonuses-head{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}
.bonuses-item::before{
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  left: 2px;
  top: 2px;
  background: #191919;
}

.bonuses-item__active{


  &::after,
  &::before{
    display: none;
  }

  .bonuses-head{
    font-size: 36px;
  }

}

.btn{
  background: linear-gradient(276.23deg, #FF8214 0%, #E8322E 100%);
  border: 2px solid #000000;
  /* defolt */
  color: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(255, 153, 138, 0.5);
  font-weight: 700;
  font-size: 20px;
  width: 328px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
}
.bonuses .btn{
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 1200px){
  .bonuses-grid{
    column-gap: 16px;
  }
}
@media screen and (max-width: 992px){
  .bonuses-item{

    max-width: 48.5%;
  }
}
@media screen and (max-width: 650px){
  .bonuses-item{
    height: 260px;
    max-width: 100%;
  }
  .bonuses-item__active .bonuses-head {
    font-size: 30px;
}
}

