/*1 Первый экран, главный баннер*/
main{
  position: relative;
  margin-top: 200px;
}
.section__inner{
  box-shadow: 0px 0px 30px 40px rgba(0, 0, 0, 0.025);
  display: flex;

}

.block-form{
  padding: 110px 72px;
  background-color: #fff;
}
.section__item{
  &:last-child{
    flex: 1;
  }
}

.description{
  font-size: 19px;
  margin-bottom: 55px;

}

.btn{
  height: 42px;
  width: 248px;
  margin-right: 30px;
  color: #fff;
  position: relative;
  margin-bottom: 10px;
}
.btn:nth-child(2n){
  margin-right: 0;
}

.btn-fb{
  background-color: #255A9B;
  &::before{
    content: "";
    width: 10px;
    height: 15px;
    background-image: url(../img/svg/facebook.svg);
  }
}
.btn-in{
  background-color: #0076B6;
  &::before{
    content: "";
    width: 10px;
    height: 15px;
    background-image: url(../img/svg/linkedin.svg);
  }
}
.btn-group{
  margin-bottom: 40px;
}

.or{
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;

    margin-bottom: 48px;

  &::before,
  &::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: inline-block;
  }
  &::before{


  }
  &::after{


  }
}
