/*2 Особенности*/
.features{
  padding-top: 40px;
  padding-bottom: 176px;

  background: #191919;
  .title{
    margin-bottom: 64px;
  }
}
.features-grid{
  display: flex;
  flex-wrap: wrap;
  row-gap: 99px;
}
.features-item{
  width: 33.33%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 15px;
}
.features__img{
  flex-basis: 165px;
  flex-shrink: 0;
}

@media screen and (max-width: 991px){

  .features-item{
    width: 50%;
  }

}
@media screen and (max-width: 691px){
  .features-item{
    width: 100%;
    flex-direction: column;
  }
  .features-grid{
    row-gap: 50px;
  }
  .features__text{
    text-align: center;
  }
  .features{
    padding-bottom: 90px;
  }
}
