/*7 Концепты*/
.concepts{

  padding-top: 40px;
  padding-bottom: 260px;
  overflow: hidden;
  .plan-img{
    height: 600px;
  }

  @media screen and (max-width: 920px){
    .plan-img{
      height:420px;
    }
  }


  @media screen and (max-width: 620px){
    .plan-img{
      height: 320px;
    }
  }

  .container{
   /* padding-bottom: 95px;*/
   position: relative;
  }



}

.concepts{
  .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background-color: #fff;
    opacity: 1;
    margin: 0 10px !important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{

    background: linear-gradient(276.23deg, #FF8214 0%, #E8322E 100%);
  }
  .swiper-pagination{
    bottom: 24px !important;
  }

  /*.swiper-button-prev::after,  .swiper-button-next::after{
    display: none;
  }*/
  .swiper-button-prev,
  .swiper-button-next{
    width: 99px;
    height: 40px;
    bottom: -56px;
      top: inherit;
      transform: translateY(100%);
      left: 50%;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: "";
    background-image: url("../img/svg/icon.svg");
    width: 99px;
    height: 40px;
  }
  .swiper-button-next::after{
    transform: scale(-1, -1);
  }

  .swiper-button-prev{
    transform: translateY(100%) translateX(-125%);
  }

  .swiper-button-next{
    transform: translateY(100%) translateX(25%);
  }

}
