/*8 поддержка*/
.support{
  background: #191919;
  padding-top: 40px;
  padding-bottom: 180px;
  ul
    {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    }
    .btn{
      width: 100%;
      background: #191919;
      box-shadow: none;
      border: 1px solid #E8322E;
      margin-bottom: 24px;
    }
    li+li{
      margin-top: 20px;
    }
    li{
      display: flex;
      align-items: center;
    }
    li:before{
      content: "";
      background-image: url(../img/svg/marker.svg);
      width: 23px;
      height: 17px;
      display: block;
      margin-right: 10px;
    }
}

.support-grid{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

}

.support-item{
  max-width: 390px;
  position: relative;
  flex: 1;
  padding: 12px 16px 16px;
  background: linear-gradient(342.47deg, rgba(255, 130, 20, 0.3) 24%, rgba(232, 50, 46, 0.3) 76%);

  font-size: 18px;
  &>*{
    position: relative;
  }

  &::before{
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    left: 2px;
    top: 2px;
    background: #191919;
  }
}
.support-title{
  margin-bottom: 16px;
}
.support-number{
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
}
.support-text{
  margin-bottom: 32px;
  span{
    white-space: nowrap;
  }
}

.support-item-active{
  &::before{
    display: none;
  }
  background: linear-gradient(342.47deg, rgba(255, 130, 20, 0.3) 24%, rgba(232, 50, 46, 0.3) 76%);
  .btn{
    border: none;
    background: linear-gradient(267.51deg, rgba(255, 130, 20, 0.3) 0%, rgba(232, 50, 46, 0.3) 100%);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

  }

}
@media screen and (max-width: 992px){
  .support-grid{

    flex-direction: column;
    align-items: center;
  }
}
