/*1 Первый экран, главный баннер*/
.main-banner{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-banner > .container{
  display: flex;
  width: 100%;
  margin-top: 119px;
  margin-bottom: 119px;
  flex-wrap: wrap;
  width: 100%;

    column-gap: 31px;
}
.main-banner__right,
.main-banner__left{
  flex: 1 1 0;
}
.main-banner__right{
  background: linear-gradient(276.23deg, #FF8214 0%, #E8322E 100%);
  padding: 1px;
  min-height: 500px;
}

.main-banner__left{
  flex-basis: 364px;
  max-width: 364px;
}

@media screen and (max-width: 991px){
  .main-banner > .container{
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-banner__right{
    /*order: -1;*/
    margin-top: 60px;
  }

  .main-banner__left{
    text-align: center;
    margin: auto;
    flex-basis: inherit;
    max-width: inherit;
  }
}

@media screen and (max-width: 600px){
  .main-banner__right{

    min-height: 350px;
  }
}
@media screen and (max-width: 400px){
  .main-banner__right{

    min-height: 270px;
  }
}

.main-banner__video{
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner .logo{
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}

.icon-video{
  width: 40px;
  height: 40px;
  background: linear-gradient(276.23deg, #FF8214 0%, #E8322E 100%);

  border: 1px solid #000000;
  box-shadow: 0px 4px 40px 15px rgba(255, 153, 138, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-video  svg{
  transform: translateX(2px);
}

.main-banner__bottom{
  font-size: 36px;
  background: #000000;
  min-height: 143px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.main-banner__bottom span{
  white-space: nowrap;
}
.main-banner__bottom p{
  margin-bottom: 10px;
}
.main-banner__left p:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 991px){
  .main-banner__bottom{
    font-size: 27px;
    padding: 10px 0 ;
  }
}



