<header class="header">
  <div class="container">


    <div class="navigation" >

      <nav class="main-nav" >
        <a href="#features" >Особенности</a>
        <a href="#races">Расы</a>
        <a href="#game-mechanics" >Игровая механика</a>
        <a href="#implementation-plan" >План реализации</a>
        <a href="#bonuses" >Бонусы</a>
        <a href="#Concepts" >Концепты</a>
        <a href="#reviews">Отзывы</a>

        <a href="#donat">Донат</a>
        <a href="#contacts">Контакты</a>

      </nav>
    </div>




    <a href="#" class="menu-btn mobile-menu">
      <span></span>
    </a>


  </div>
</header>
