<!--4 Игровая механика -->
<div class="mechanics">

  <div class="container">
    <div class="title">Игровая механика</div>
    <div class="mechanics-grid">
      <div class="mechanics-item">
        <div class="mechanics-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="mechanics-title">Строительство</div>
        <div class="mechanics-text">Широкие возможности для развития и кастомизации замка. Стройте фермы, казармы, склады и сокровищницы, которые наполните собственными богатствами.</div>
      </div>
      <div class="mechanics-item">
        <div class="mechanics-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="mechanics-title">Исследование</div>
        <div class="mechanics-text">Ищите на карте особенные места: пещеры, алтари, забытые капища. Сражайтесь за добычу, ищите сокровища, приносите жертвы жестоким богам ради благословения</div>
      </div>
      <div class="mechanics-item">
        <div class="mechanics-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="mechanics-title">Бои с другими игроками</div>
        <div class="mechanics-text">Берегитесь! Алчные соседи ревностно следят за вашими успехами. Готовьтесь защищать свой дом, готовьтесь сокрушить тех, кто слаб. Армии, к бою!</div>
      </div>
      <div class="mechanics-item">
        <div class="mechanics-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="mechanics-title">Советники</div>
        <div class="mechanics-text">Короля делает свита. К вашим услугам лучшие советники, верные друзья, которые всегда подскажут правильное решение.</div>
      </div>
    </div>

  </div>


</div>
