<!-- 8 поддержите -->
<div class="support">
  <div class="container">
    <h2 class="title">Поддержите разработку игры</h2>

    <div class="support-grid">

      <div class="support-item">
        <div class="support-title">Стандартный</div>
        <div class="support-number">10 $</div>
        <div class="support-text">Действует 30 дней с момента <span>запуска игры</span></div>
        <div class="btn">Начать зарабатывать</div>
        <ul class="support-list">
          <li>100 монет</li>
          <li>5 флагов</li>
          <li>Стена первого уровня из дерева</li>
          <li>Баф усилитель выработки ресурсов +10%</li>
          <li>Пак предметов 2-го уровня</li>
          <li>NFT скин - бомжа</li>
        </ul>

      </div>


        <div class="support-item">
          <div class="support-title">Средний</div>
          <div class="support-number">30 $</div>
          <div class="support-text">Действует 30 дней с момента <span>запуска игры</span></div>
          <div class="btn">Начать зарабатывать</div>
          <ul class="support-list">
            <li>100 монет</li>
            <li>5 флагов</li>
            <li>Стена первого уровня из дерева</li>
            <li>Баф усилитель выработки ресурсов +10%</li>
            <li>Пак предметов 2-го уровня</li>
            <li>NFT скин - бомжа</li>
          </ul>

        </div>



        <div class="support-item support-item-active">
          <div class="support-title">Премиум</div>
          <div class="support-number">50 $</div>
          <div class="support-text">Действует 30 дней с момента <span>запуска игры</span></div>
          <div class="btn">Начать зарабатывать</div>
          <ul class="support-list">
            <li>100 монет</li>
            <li>5 флагов</li>
            <li>Стена первого уровня из дерева</li>
            <li>Баф усилитель выработки ресурсов +10%</li>
            <li>Пак предметов 2-го уровня</li>
            <li>NFT скин - бомжа</li>
          </ul>

        </div>

      </div>
  </div>
</div>

