<!--6 Бонусы -->
<div class="bonuses">
<div class="container">
  <div class="title">Бонусы</div>

  <div class="bonuses-grid">

    <div class="bonuses-item">
      <div class="bonuses-head">0,2% от дохода студии</div>
      <p>При вкладе на сумму более 500 000 ₽. И сроком вклада от 32 месяцев. Без возможности снятия. С возможностью пополнения. </p>
    </div>

    <div class="bonuses-item">
      <div class="bonuses-head">0,2% от дохода студии</div>
      <p>При вкладе на сумму более 500 000 ₽. И сроком вклада от 32 месяцев. Без возможности снятия. С возможностью пополнения. </p>
    </div>

    <div class="bonuses-item">
      <div class="bonuses-head">0,2% от дохода студии</div>
      <p>При вкладе на сумму более 500 000 ₽. И сроком вклада от 32 месяцев. Без возможности снятия. С возможностью пополнения. </p>
    </div>

    <div class="bonuses-item">
      <div class="bonuses-head">0,2% от дохода студии</div>
      <p>При вкладе на сумму более 500 000 ₽. И сроком вклада от 32 месяцев. Без возможности снятия. С возможностью пополнения. </p>
    </div>

    <div class="bonuses-item">
      <div class="bonuses-head">0,2% от дохода студии</div>
      <p>При вкладе на сумму более 500 000 ₽. И сроком вклада от 32 месяцев. Без возможности снятия. С возможностью пополнения. </p>
    </div>

    <div class="bonuses-item bonuses-item__active">
      <div class="bonuses-head">Уже планируете начать зарабатывать?</div>

      <div class="btn">Начать зарабатывать</div>
    </div>

  </div>
</div>
</div>
