
<div class="hhh" sty="" style="
    display: flex;
    justify-content: center;
    align-items: center;
">
  <div class="ghhhhhhhhh" style="
    position: relative;
">
    <img class="logo" src="./img/logo.png" alt="Логотип Гейм студии">
    <svg viewBox="0 0 70 70" width="40%" style="
    position: absolute;
    width: 100%;
    left: 0;
    transform: scale(1.18) rotate(-60deg);
">

      <path d="M35,35m-23,0a23,23 0 1,1 46,0a23,23 0 1,1 -46,0" fill="lightpink" id="tophalf" style="
    fill: none;
"></path>
      <text style="font: initial;">
        <textPath xlink:href="#tophalf" startOffset="0%">Battleborne</textPath>
      </text>
    </svg>
  </div>

</div>

<style>
    textPath{
    font-family: "Lora";
    fill: #E8322E;
    font-size: 8px;
    letter-spacing: 1px;
  }
</style>
