<!--1  экран формы-->

<section class="section">
  <div class="container ">
    <div class="section__inner">
      <div class="section__item">
        <span class="logo"></span>
        <img src="img/bg.jpg" alt="">

      </div>

      <div class="section__item">
        <div class="block-form">

          <h2 class="title">Get iintoo it today</h2>
          <div class="description">There is no charge or obligation upon registration</div>

          <div class="btn-group">
            <button class="btn btn-fb">Register with Faceebook</button>
            <button class="btn btn-in">Register with Linkedln</button>
          </div>


          <div class="or">or</div>

          <form action="#">

            <div class="btn-group">
              <label class="field-input" for="email"><span>Email</span>
                <input class="field-input__item" value="gus.goodwin@gmail.com" type="text" name="mail" placeholder=""
                  id="email" required>
              </label>

              <label class="field-input" for="email"><span>Phone</span>
                <input checked class="field-input__item" type="text" name="phone" placeholder="" id="email" required>
              </label>
            </div>

            <div class="block-question">
              <h3>What type of investor are you?</h3>
              <p>Select the type of investor you are below</p>
            </div>


            <div class="form-radio">
              <div class="form-radio__item">
                <input id="radio-1" type="radio" name="radio" value="1" checked>
                <label for="radio-1">Individual </label>
              </div>

              <div class="form-radio__item">
                <input id="radio-2" type="radio" name="radio" value="2">
                <label for="radio-2">Business </label>
              </div>

              <div class="form-radio__item">
                <input id="radio-3" type="radio" name="radio" value="3">
                <label for="radio-3">IRA </label>
              </div>

              <div class="form-radio__item">
                <input id="radio-4" type="radio" name="radio" value="4">
                <label for="radio-4">Trust </label>
              </div>
            </div>



            <div class="alert">
              I am a natural person investing on my own behalf as a sole owner, joint tenant, or tenant in common.
            </div>

            <input id="agreement" name="example_checkbox" type="checkbox">
            <label for="agreement" class="agreement"> I agree to the terms and receiving
              notifications from
              iintoo
              <a href="#">View full terms</a></label>

            <button class="btn btn-primary">Create Account</button>
          </form>
        </div>

      </div>
    </div>

  </div>

</section>