<!-- Концепты -->

<div class="concepts ">
  <div class="container">

    <div class="title">Концепты/артбук</div>

    <!-- Slider main container -->
    <div class="swiper swiper-1">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>
        <div class="swiper-slide"><div class="plan-img"><img src="./img/image.webp" alt=""></div></div>

        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>



    </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

  </div>

</div>


