<!--3 Расы -->
<div class="races">
  <div class="container">
    <div class="title">Расы в игре</div>

    <div class="races-grid">
      <div class="races-item">
        <div class="races-title">Бесконечное царство</div>
        <div class="races-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="races-text">Люди - самая многочисленная, благородная и честолюбивая раса Титании. Их земли, простирающиеся по большей части Лактории, плодородны и благостны. Человеческая империя процветает и ширится, наполняя сердца жителей непомерной гордыней.</div>
      </div>
      <div class="races-item">
        <div class="races-title">Лесной народ</div>
        <div class="races-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="races-text">Лесной народ - это таинственный народ, живущий в глубинах леса и обладающий магическими способностями, которые помогают им выжить в дикой природе.</div>
      </div>
      <div class="races-item">
        <div class="races-title">Горные кланы</div>
        <div class="races-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="races-text">Горные кланы - это крепкие и независимые сообщества воинственных орков, укрывающихся в горных пещерах и защищающих свои родные земли.</div>
      </div>
      <div class="races-item">
        <div class="races-title">Катрубский каганат</div>
        <div class="races-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="races-text">Катрубский каганат - это великое государство, правителями которого являются могущественный существа, обладающие необычными сверхъестественными способностями.</div>
      </div>
      <div class="races-item">
        <div class="races-title">Ковенант проклятых</div>
        <div class="races-img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="races-text">Ковенант проклятых - это тайная гильдия наемников, которые сражаются со злом и защищают мирные земли, используя свои магические силы и технические  знания.</div>
      </div>
    </div>

  </div>
</div>
