<!-- 9 отзывы -->
<div class="reviews">

  <div class="container">

    <div class="title">Отзывы</div>

    <!-- Slider main container -->
    <div class="swiper swiper-2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="reviews-block">
            <div class="reviews-head">
              <div class="reviews-name">Викторий Андерсон</div>
              <div class="reviews-title">Инвестор</div>
            </div>
            <div class="reviews-img"></div>
            <div class="reviews-foot">
              Вложил в проект: более 50.000$
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-block">
            <div class="reviews-head">
              <div class="reviews-name">Виталий Шапакляк</div>
              <div class="reviews-title">Инвестор</div>
            </div>
            <div class="reviews-img"></div>
            <div class="reviews-foot">
              Вложил в проект: более 100.000$
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-block">
            <div class="reviews-head">
              <div class="reviews-name">Сергей Андерсон</div>
              <div class="reviews-title">Инвестор</div>
            </div>
            <div class="reviews-img"></div>
            <div class="reviews-foot">
              Вложил в проект: более 50.000$
            </div>
          </div>
        </div>


      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>


    </div>


  </div>

</div>
