<!-- 2 Особенности -->
<div class="features">
  <div class="container">
    <div class="title">Особенности игры</div>

    <div class="features-grid">
      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">5 уникальных рас
          со своими особенностями и стилем игры</div>
      </div>

      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">3 материка и океан
          для изучения и покорения</div>
      </div>

      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Широкие возможности
          для развития замка и армии</div>
      </div>


      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Динамически меняющиеся погодные условия</div>
      </div>


      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Морские сражения</div>
      </div>


      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Постоянные обновления контента и механик</div>
      </div>


      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Интеграция NFT
          в игровой процесс</div>
      </div>


      <div class="features-item">
        <div class="features__img">
          <img  loading="lazy" src="./img/features.webp" alt="персонаж">
        </div>
        <div class="features__text">Возможность выводить игровую валюту в токены, получая реальную прибыль</div>
      </div>


    </div>

  </div>
</div>
