<!--5 План реализации -->
<div class="plan">
  <div class="container">
    <div class="title">План реализации</div>

    <div class="plan-container">
      <div class="plan-item">
        <div class="plan-numbers">
          <span>1</span>
        </div>
        <div class="plan-title">Данные для всех Ваших сотрудников</div>
        <div class="plan-text">Долор сидит, наблюдая за элитой в течение всего времени, и не трудится, долор великая аликва эним.</div>
      </div>
      <div class="plan-item">
        <div class="plan-numbers">
          <span>2</span>
        </div>
        <div class="plan-title">Новое поколение AI</div>
        <div class="plan-text">Долор сидит, наблюдая за элитой в течение всего времени, и не трудится, долор великая аликва эним.</div>
      </div>
      <div class="plan-item">
        <div class="plan-numbers">
          <span>3</span>
        </div>
        <div class="plan-title">Аналитический бизнес</div>
        <div class="plan-text">Долор сидит, наблюдая за элитой в течение всего времени, и не трудится, долор великая аликва эним.</div>
      </div>
    </div>

    <div class="plan-imgs">
      <div class="plan-img"><img src="./img/image.webp" alt=""></div>

      <div class="plan-img"><img src="./img/image.webp" alt=""></div>
    </div>

  </div>
</div>
