<!--1 Первый экран.-->
<div class="main-banner">
  <div class="container">
    <div class="main-banner__left">
      <img class="logo" src="./img/logo.png" alt="Логотип Гейм студии">
      <p>«Край воинов» – новая браузерная стратегия в режиме реального времени.  </p>
      <p>Приглашаем Вас на просторы Титании – планеты, наполненной магией и сталью мечей. Здесь вы окунётесь в мир придворных интриг и войны альянсов, возведёте замки и встанете во главе войска, раскроете древние тайны и... заработаете реальные деньги!</p>
    </div>
    <div class="main-banner__right">
      <div class="main-banner__video">
        <div class="icon-video">
          <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 11L0 22L0 0M15 11L2 3.47L2 18.53" fill="white"/>
            </svg>

        </div>
      </div>
    </div>



  </div>
  <div class="main-banner__bottom">
    <div class="container">
      <p>«Край воинов» ждёт – надевайте доспехи и вперёд, <span>на тропу победы!</span></p>
    </div>

  </div>

</div>
